body {
  font-family: "Lato", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  font-size: 10px;
}

header {
  padding-left: 40px;
  padding-right: 40px;
}

section {
  padding-left: 40px;
  padding-right: 40px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  max-width: calc(1020px - 80px);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  z-index: 8;
}

.header__mobile_background {
  display: none;
}

.burger_button {
  display: none;
}

.header__logo {
  padding-top: 2px;
}

.logo__link {
  font-size: 2.5rem;
  font-family: "Lato Bold", Helvetica, sans-serif;
  letter-spacing: 2px;
  font-stretch: ultra-condensed;
  color: #ffffff;
  text-decoration: none;
}

.logo__link::after {
  content: "*";
  color: #f06c64;
}

.nav {
  display: flex;
  padding-top: 30px;
}

.nav__list {
  display: flex;
  line-height: 6px;
}

.nav__item {
  margin-left: 13px;
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.1s linear;
  list-style: none;
}

.nav__link {
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s linear;
}

.nav__link:hover {
  color: #f06c64;
}

.nav__item:not(:first-child)::before {
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 2px;
  background-color: #494e62;
  border-radius: 50%;
  content: "";
  width: 3px;
  height: 3px;
}

.nav__item:last-child {
  letter-spacing: 0px;
}

.nav_active {
  color: #f06c64;
}

.section__slider {
  position: relative;
  height: 594px;
  padding: 0;
  border-bottom: 6px solid #ea676b;
  overflow: hidden;
}

.slider__container {
  height: 100%;
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  position: relative;
  display: none;
  animation: .7s ease-out;
  height: 579px;
  background-color: #f06c64;
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
}

.slider__first {
  background-color: #f06c64;
}

.slider__second {
  background-color: #648BF0;
  text-align: center;
}

.slider__second__image {
  height: auto;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  height: 27px;
  width: 16px;
  cursor: pointer;
}

.slider__arrow__left {
  z-index: 7;
  left: 42px;
  background-image: url(./assets/img/slider-arrow_left.svg);
}

.slider__arrow__right {
  z-index: 7;
  right: 40px;
  background-image: url(./assets/img/slider-arrow_right.svg);
}

.phone {
  position: absolute;
  z-index: 0;
}

.phone>img {
  cursor: pointer;
}

.phone_vertical {
  top: 53px;
  left: 112px;
  position: absolute;
}

.phone_horizontal {
  bottom: 82px;
  right: 260px;
  transform: rotate(90deg);
}

.phone__display {
  position: absolute;
  top: 62px;
  left: 11px;
  border: 3px solid #c8c8c8;
  border-radius: 4px;
  background-color: #000;
  width: 188px;
  height: 333px;
  cursor: pointer;
}

.phone_vertical .phone__display {
  background-position-x: -14px;
  background-position-y: -135px;
}

.phone_vertical .phone__display_showed {
  background-image: url(./assets/img/Layer6.png);
}

.phone__display {
  left: -62px;
  top: 135px;
  transform: rotate(-90deg);
  height: 188px;
  width: 333px;
  bottom: 0px;
  background-position-x: -124.5px;
  background-position-y: -119px;
}

.phone_horizontal .phone__display_showed {
  background-image: url(./assets/img/Layer5.png);
}

.phone__shadow {
  height: 483px;
  width: 240px;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url(./assets/img/Shadow.png);
}

.phone_horizontal .phone__shadow {
  transform: rotateY(-180deg);
  top: -26px;
}

.active,
.next {
    display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}


.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
  }
  
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services {
  height: 100%;
  padding-top: 35px;
  padding-bottom: 49px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin-bottom: 18px;
  font-size: 3rem;
  font-family: "Lato Black", Helvetica, sans-serif;
  color: #666d89;
}

.services__description {
  margin-bottom: 27px;
  font-size: 1.6rem;
  font-family: "Lato Light", Helvetica, sans-serif;
  color: #767e9e;
  letter-spacing: 0.6px;
  line-height: 31px;
  text-align: justify;
}

.service__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: 299px;
  padding-left: 1px;
  padding-top: 15px;
  padding-bottom: 3px;
  margin-right: 20px;
}

.service:nth-child(3n) {
  margin-right: 0px;
}

.service__img {
  align-self: flex-start;
  margin-right: 20px;
  margin-top: 4px;
  padding: 11px;
  width: 60px;
  height: 60px;
}

.service__title {
  margin: 0px;
  font-family: "Lato Black", Helvetica, sans-serif;
  color: #666d89;
  word-spacing: -1px;
  letter-spacing: -0.5px;
}

.service:nth-child(3n) .service__title {
  letter-spacing: -0.2px;
}

.service__text {
  height: 63px;
  margin-top: 9px;
  color: #767e9e;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 21px;
  text-align: justify;
  word-spacing: 3px;
  overflow: hidden;
}

.portfolio {
  height: 100%;
  padding-bottom: 74px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 60px;
  font-size: 3.1rem;
  color: #666d89;
  font-family: "Lato Black", Helvetica, sans-serif;
  letter-spacing: -0.02em;
}

.portfolio__text {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #767e9e;
  letter-spacing: -0.014em;
}

.portfolio__nav {
  margin-top: 15px;
  margin-bottom: 19px;
  padding: 0;
  padding-left: 1px;
  display: flex;
  list-style-type: none;
}

.nav__tag {
  margin-right: 10px;
  padding-left: 7px;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 4.5px;
  font-size: 1.1rem;
  color: #767e9e;
  letter-spacing: 0.036em;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

.nav__tag:last-child {
  padding-left: 6px;
}

.nav__tag:hover {
  color: #f06c64;
  border-color: #f06c64;
}

.nav__tag_active {
  color: #f06c64;
  border-color: #f06c64;
}

.portfolio__pictures__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
}

.portfolio__item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.portfolio__item:nth-child(n + 13) {
  display: none;
}

.portfolio__item_active {
  outline: 5px solid #f06c64;
  outline-offset: -5px;
}

.portfolio__item:nth-child(4n) {
  margin-right: 0px;
}

.about-us {
  height: 100%;
  padding-top: 35px;
  padding-bottom: 75px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  margin-bottom: 20px;
  font-size: 3rem;
  font-family: "Lato Black", Helvetica, sans-serif;
  color: #666d89;
  letter-spacing: -0.01rem;
  text-rendering: optimizeLegibility;
}

.about-us__text {
  font-family: "Lato Light", Helvetica, sans-serif;
  font-size: 1.7rem;
  color: #767e9e;
  line-height: 30px;
  text-align: justify;
}

.about-us__persons-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team {
  padding-top: 27.5px;
}

.about-us__person {
  width: 32%;
}

.about-us__person:last-child img {
  padding-left: 1px;
}

.about-us__person:last-child {
  margin-right: 0px;
  padding-left: 1px;
}

.about-us__person__photo {
  width: 100%;
}

.about-us__person__name {
  margin-bottom: 8.5px;
  margin-left: 0px;
  margin-top: 11.8px;
  font-size: 1.9rem;
  color: #666d89;
  letter-spacing: -0.019em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.about-us__person__description {
  margin: 0;
  font-size: 1.2rem;
  color: #767e9e;
  text-align: justify;
  line-height: 21px;
  letter-spacing: -0.007em;
}

.about-us__person:first-child .about-us__person__description {
  letter-spacing: -0.01em;
}

.socials {
  padding-top: 8px;
}

.socials__icons {
  display: flex;
  padding-left: 1px;
  list-style: none;
}

.socials__button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #6a718c;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
}

.socials__button:hover {

  border: 1.3px solid #f06c64;
}

.socials__icon {
  width: 14px;
  height: 14px;
  margin: 8px 8px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.3s linear;
}

.socials__icon_facebook {
  background-image: url(./assets/img/facebook.svg);
}

.socials__icon_google-plus {
  background-image: url(./assets/img/google.svg);
}

.socials__icon_twitter {
  background-image: url(./assets/img/twitter.svg);
}

.socials__icon_linkedin {
  background-image: url(./assets/img/linkedin.svg);
}

.contacts {
  height: 100%;
  padding-top: 36px;
  padding-bottom: 64px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.contacts__title {
  margin: 24px 0 18px;
  font-size: 3.1rem;
  color: #f0d8d9;
  font-family: "Lato Black", Helvetica, sans-serif;
  letter-spacing: -0.02em;
}

.contacts__text {
  margin-top: 17px;
  margin-bottom: 23.5px;
  font-size: 1.8rem;
  line-height: 30.5px;
  color: #f0d8d9;
  letter-spacing: -0.014em;
  text-align: justify;
}

.contacts__wrapper {
  display: flex;
}

.contacts__form {
  width: 616px;
  margin-right: 23px;
  padding-top: 20px;
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 96%;
  padding: 13px 15px 12px;
  margin-bottom: 16px;
  font-size: 1.2rem;
  color: #f0d8d9;
  border: none;
  background-color: #d6564f;
  border-radius: 5px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #e87878;
  font-size: 1.2rem;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  background-color: #d64a42;
}

.contacts__form__message {
  display: block;
  width: 96%;
  margin-bottom: 16px;
  padding: 10px 14px 35px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #f0d8d9;
  resize: none;
}

.contacts__form__submit {
    background-color: #FBC65F;
    border: none;
    cursor: pointer;
    font-family: 'Lato Bold';
    font-size: 14px;
    line-height: 22px;
    color: #886A30;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 15px;
    height: 38px;
    width: 138px;
}

.contacts__form__submit:hover {
  border-color: #d6564f;
  color: #d6564f;
}

.contacts__form__submit:focus {
    box-shadow: 0 0 3px 2px #e84e45;
    outline: none;
}

.contacts__information {
  width: 300px;
}

.contacts__information__title {
  margin-top: 19px;
  margin-bottom: 8px;
  color: #f0d8d9;
  letter-spacing: -0.25px;
}

.contacts__information__text {
  margin-top: 7px;
  margin-bottom: 24px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.14px;
  color: #f0d8d9;
}

.contacts__information__address {
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
  font-size: 1.2rem;
  color: #f0d8d9;
}

.contacts__information__address::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-image: url(./assets/img/location.png);
  background-repeat: no-repeat;
}

.contacts__information__phone {
  display: block;
  margin-bottom: 9px;
  width: max-content;
  padding-left: 24px;
  position: relative;
  font-size: 1.2rem;
  color: #f0d8d9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contacts__information__phone:hover {
  color: #e8a77e;
}

.contacts__information__phone::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-image: url(./assets/img/phone.png);
  background-repeat: no-repeat;
}

.contacts__information__mail {
  display: block;
  width: max-content;
  padding-left: 24px;
  position: relative;
  font-size: 1.2rem;
  color: #f0d8d9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contacts__information__mail:hover {
  color: #e8a77e;
}

.contacts__information__mail::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 13px;
  height: 12px;
  background-image: url(./assets/img/mail.png);
  background-repeat: no-repeat;
}

.footer {
  height: 76px;
  display: flex;
  justify-content: space-between;
  background-color: #2d303a;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #666d89;
  padding: 18px 41px;
  letter-spacing: -0.1px;
}

.socials__footer {
  padding-top: 5px;
  padding-right: 32px;
}

.layout {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% + 76px);
  width: 100%;
  top: -75px;
  z-index: 9;
  background: rgba(69, 69, 69, 0.5);
}

.modal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40vh;
  background-color: #f06c64;
  padding: 20px;
  border-radius: 10px;
  color: #f0d8d9;
}

.modal_close {
  position: absolute;
  bottom: 20px;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #f0d8d9;
  border-radius: 5px;
  color: #f0d8d9;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal_close:hover {
  border-color: #d6564f;
  color: #d6564f;
}

.modal__message,
.modal__subject {
  word-wrap: break-word;
  overflow: overlay;
}

.modal__subject {
  height: 36px;
}

.modal__message {
  height: 90px;
}


@-moz-document url-prefix() {
  .menu__item {
    letter-spacing: -0.2px;
  }

  .services__title {
    letter-spacing: -1px;
  }

  .service__title {
    word-spacing: -4px;
    letter-spacing: -1px;
  }

  .service:nth-child(5) .service__title {
    word-spacing: 1px;
    letter-spacing: -1.2px;
  }

  .nav__tag {
    padding-bottom: 4px;
  }

  .socials {
    padding-top: 7px;
  }

  .team__member__name {
    letter-spacing: -1.1px;
  }

  .contacts__title {
    letter-spacing: -0.04em;
  }

  input[type="text"],
  input[type="email"] {
    padding: 12px 15px 12px;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    letter-spacing: -0.5px;
  }

  .contacts__form__message {
    padding: 12px 15px 5px;
    color: #e06865;
    letter-spacing: -0.2px;
  }

  .contacts__information__text {
    margin-bottom: 24px;
  }

  .contacts__information__address {
    letter-spacing: -0.25px;
  }

  .contacts__information__phone {
    letter-spacing: -0.1px;
  }

  .contacts__information__mail {
    letter-spacing: -0.35px;
  }

  .socials__footer {
    padding-top: 6px;
  }
}


@media screen and (min-width:768px) and (max-width: 1019px) {
  .slider {
    height: 452px;
    border-bottom: 4px solid #ea676b;
  }

  .slider__arrow__left {
    left: 30px;
  }

  .slider__arrow__right {
    right: 30px;
  }

  .phone_horizontal {
    transform: scale(0.7) rotate(90deg);
    bottom: 50px;
    right: 165px;
  }

  .phone_vertical {
    transform: scale(0.7);
    top: 70px;
    left: 90px;
  }

  .slider__second__image {
    position: relative;
    left: -110px;
  }

  .services {
    padding-bottom: 64px;
    border: none;
  }

  .service {
    margin-right: 53px;
    width: calc(50% - 53px);
  }

  .service:nth-child(2n) {
    margin-right: 0px;
  }

  .service:nth-child(3) {
    margin-right: 53px;
  }

  .portfolio__pictures__wrapper {
    height: 100%;
  }

  .portfolio__item {
    width: calc(100% / 3 - 40px / 3);
  }

  .portfolio__item:nth-child(4n) {
    margin-right: 20px;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }

  .about-us {
    border: none;
  }

  .contacts {
    padding-bottom: 40px;
  }

  .contacts__information {
    width: 45%;
  }

  .contacts__form {
    width: 98%;
    margin-right: 29px;
  }

  input[type="text"],
  input[type="email"] {
    padding-right: 0px;
  }

  .contacts__form__message {
    width: 93%;
  }
}

@media screen and (max-width: 767px) {
  html {
    scroll-padding-top: 68px;
  }

  section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    height: 71px;
    border: none;
    justify-content: center;
  }

  .header__mobile_background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7;
    background: #2D303A;
    opacity: 0.6;
    transition: 0.2s linear;
  }

  .header__mobile_background_active {
    display: block;
  }

  .burger_button {
    display: block;
    position: absolute;
    left: 20px;
    top: 26px;
    z-index: 9;
    transition: 0.5s linear;
  }

  .burger_button_active {
    transform: rotate(90deg);
  }

  .logo {
    padding: 14px 0;
    margin: 0;
    z-index: 9;
    transition: 0.5s linear;
  }

  .logo_to-left {
    transform: translateX(-54%);
  }

  .nav {
    position: fixed;
    height: 100%;
    padding: 0;
    width: 74%;
    left: -100%;
    top: 0;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    transition: 0.5s linear;
    z-index: 8;
  }

  .nav_active {
    left: 0;
  }

  .nav__list {
    display: block;
    font-size: 2.4rem;
    line-height: 29px;
    margin-top: 232px;
    padding-left: 71px;
  }

  .nav__item {
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 27px;
  }

  .nav__item:not(:first-child)::before {
    display: none;
  }

  .slider {
    height: 220px;
    border-bottom: 2px solid #ea676b;
  }

  .slider__arrow__left {
    left: 10px;
  }

  .slider__arrow__right {
    right: 10px;
  }

  .phone_horizontal {
    transform: scale(0.6) rotate(90deg);
    top: -5px;
    left: 60%;
  }

  .phone_vertical {
    transform: scale(0.6);
    top: 70px;
    left: 1%;
  }

  .slider__second__image {
    position: relative;
    height: 500px;
    left: -50px;
    top: 50px;
  }

  .services {
    padding-bottom: 32px;
    border: none;
  }

  .service {
    width: 100%;
  }

  .portfolio {
    padding-bottom: 42px;
    border: none;
  }

  .portfolio__item {
    width: calc(100% / 2 - 14px / 2);
    margin-right: 14px;
    margin-bottom: 14px;
  }

  .portfolio__item:nth-child(2n) {
    margin-right: 0px;
  }

  .portfolio__item:nth-child(n + 9) {
    display: none;
  }

  .portfolio__text {
    font-size: 1.8rem;
    line-height: 30px;
  }

  .about-us {
    padding-bottom: 27px;
    border: none;
  }

  .about-us__person {
    width: 100%;
    margin-bottom: 18px;
  }

  .contacts {
    padding-bottom: 42px;
    border: none;
  }

  .contacts__layout {
    display: block;
  }

  .contacts__form {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    padding-right: 0px;
  }

  .contacts__form__message {
    width: 92%;
  }

  .contacts__form__submit {
    width: 100%;
  }

  .contacts__information {
    width: 100%;
  }

  .footer {
    justify-content: center;
  }

  .footer__copyright {
    display: none;
  }

  .socials__footer{
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {

  .phone_horizontal {
    transform: scale(0.4) rotate(90deg);
    top: -5px;
    left: 60%;
  }

  .phone_vertical {
    transform: scale(0.4);
    top: 70px;
    left: -3%;
  }

  .contacts__wrapper{
    display: block;
}


}  

@media screen and (max-width: 375px) {
  .phone_horizontal {
    transform: scale(0.265) rotate(90deg);
    top: 42px;
    left: 80%;
  }

  .phone_vertical {
    transform: scale(0.265);
    top: -118px;
    left: -3%;
  }

  .section__slider {
      max-height: 220px;
  }

  .contacts__wrapper{
      display: block;
  }
}